header {
  background-color: blue;
  font-family: helvetica;
  font-size: 20px;
  padding: .6em .6em 1em 1em;
  margin: 10px;
}

h1 {
  text-align: center;
  font-family: helvetica;
  font-size: 64px;
  margin-top: -5px;
}

.column-1 {
  width: 40%;
  float: left;
  padding-left: 3em;
  margin-left: 3em;
  margin-bottom: 3em;
}

.column-2 {
  width: 40%;
  float: right;
  margin-bottom: 3em;
}

footer {
  clear:both;
  display: block;
  background-color: green;
  padding: 1em 1em 2em 2em;
  font-family: helvetica;
  margin-top: 5px;
  text-align: center;
}
