header {
  width: 90%;
  background-image: url('github_pic.png');
  font-family: helvetica;
  color: #EEEEEE;
  padding: 2em .6em 1em 1em;
  margin: auto;
  border-top: 10px solid #EEEEEE;
}

h1 {
  text-align: center;
  font-family: helvetica;
  font-size: 4em;
  margin-top: -15px;
  height: 55px;
}

.column-1 {
  width: 40%;
  float: left;
  padding-left: 3em;
  margin-left: 3em;
  margin-bottom: 3em;
}

.column-2 {
  width: 40%;
  float: right;
  margin-bottom: 3em;
}

footer {
  clear:both;
  display: block;
  padding: 1em 1em 2em 2em;
  font-family: helvetica;
  margin-top: 5px;
  text-align: center;
  background-image: url('github_pic.png');
}

article {
  margin-top: 2em;
}

article > h2 {
  margin-bottom: -11px;
}

header > h1 {
  margin-bottom: 35px;
}

a {
  color: #AAAAAA;
}

a:visited {
  color: #DDDDDD;
}

a:hover {
  color: #CCCCCC;
}

code {
  background-color: #EEEEEE;
}

@media screen and (max-width: 860px) {
    h1 {
        font-size: 3em;
    }
}