<!DOCTYPE html>
<html>
<head>
  <title>Search Students by Campus</title>
</head>
<body>
    <form action="/campus_results" method="GET">
        <input type="text" name="campus" placeholder="CHI, NYC, SD, SF, SEA">
        <button type="submit">Search</button>
    </form>
</body>
</html>